<%= form_with(model: book, local: true) do |book_form| %>

    <% if book.errors.any? %>
        <div>
            <h2><%= pluralize(book.errors.count, "error") %>
                Your book is not saved, please check the errors:
            </h2>
            <ul>
                <% book.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <%= book_form.label :title, 'Title' %>
    <%= book_form.text_field :title %>

    <%= book_form.label :author, 'Author' %>
    <%= book_form.text_field :author %>

    <%= book_form.label :genre, 'Genre' %>
    <%= book_form.text_field :genre %>
    
    <%= book_form.submit "Save" %>
<% end %>