<div class="container mt-3">
  <h2>Books</h2>

  <%= render partial: 'shared/flash_alerts' %>
  
  <div class="table-responsive">
    <table class="table align-middle">
      <thead>
        <tr>
          <th>Title</th>
          <th>Author</th>
          <th>Genre</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @books.each do |book| %>
          <tr>
            <td><%= book.title %></td>
            <td><%= book.author %></td>
            <td><%= book.genre %></td>
            <td><%= link_to 'View', edit_book_path(book) %></td>
            <td><%= link_to 'Destroy', book, method: :delete,
                                        data: { confirm: 'Are you crazy ?' } %>
            </td>
          </tr>
          <% end %>
        <tr>
      </tbody>
    </table>
  </div>
  <br />
  <%= link_to 'Add a book', new_book_path, class:'btn btn-primary' %>
</div>
